@charset "utf-8";
/***** main-contents *****/
.main-contents {
  width: 100%;
  height: 100vh;
  padding: 0;
  text-align: center;
  background: url(./images/main-background.png) no-repeat;
}
.main-contents .main-title {
  font-size: var(--title-main);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-contents .svg-wrapper {
  height: 100vh;
  position: relative;
}
.main-contents .svg-wrapper svg {
  position: absolute;
}
.main-contents .svg-wrapper .first-character {
  left: 0;
  bottom: 0;
  z-index: 11;
  width: 42.656vw;
  height: 27.396vw;
}
.main-contents .svg-wrapper .second-character {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
  width: 40.521vw;
  height: 20.53vw;
}
.main-contents .svg-wrapper .last-character {
  right: 0;
  bottom: 0;
  width: 34.531vw;
  height: 23.9vw;
}

/***** keyword-contents *****/
.keyword-contents {
  background-color: var(--primary-black);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}
.keyword-contents .keyword-wrapper {
  place-content: center;
}
.keyword-contents .keyword-wrapper li {
  margin-bottom: 6.51vw;
}
.keyword-contents .keyword-wrapper li .keyword-title {
  font-size: var(--title-md);
  font-weight: var(--font-extra-bold);
  position: relative;
  margin-bottom: 2.344vw;
  border-bottom: 0.26vw solid var(--primary-green);
  width: max-content;
}
.keyword-contents .keyword-wrapper li .keyword-desc {
  font-size: var(--desc-md);
}
.keyword-contents .introduction-wrapper {
  background-color: var(--primary-red);
  border-radius: var(--primary-border-radius);
  text-align: center;
}
.keyword-contents .introduction-wrapper .title {
}
/* 랜덤으로 텍스트가 계속 바뀌는 곳 */
.keyword-contents .introduction-wrapper .random-text-box {
  border: 1px solid #fff;
  border-radius: var(--primary-border-radius);
}
.keyword-contents .introduction-wrapper .random-text-box .random-keyword {
  font-size: var(--desc-lg);
}
.keyword-contents .introduction-wrapper .my-charactor {
  width: 40.313vw;
  height: 22.917vw;
}

/***** skill-contents *****/
.skill-contents {
  background-color: var(--primary-red);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-content: center;
  gap: 5.938vw;
}
.skill-contents .text-box {
  text-align: center;
  padding-top: 5.938vw;
}
.skill-contents .text-box .desc {
  font-size: var(--desc-md);
  padding-top: 1.563vw;
}
/* skill 소개 박스 */
.skill-contents .skill-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 280px 280px;
  gap: 2.969vw;
}
.skill-contents .skill-wrapper li {
  border-radius: var(--primary-border-radius);
  cursor: pointer;
  /* transition: .3s; */
}
.skill-contents .skill-wrapper .html {
  background: url(./images/skill-01.png) no-repeat 50% 30%, var(--primary-black);
}
.skill-contents .skill-wrapper .js {
  background: url(./images/skill-02.png) no-repeat 50% 30%, #fff;
  color: var(--primary-black);
}
.skill-contents .skill-wrapper .git {
  background: url(./images/skill-03.png) no-repeat 50% 30%, #fff;
  color: var(--primary-black);
}
.skill-contents .skill-wrapper .other {
  background: url(./images/skill-04.png) no-repeat 50% 30%, var(--primary-black);
}
.skill-contents .skill-wrapper li .skill-name {
  text-align: center;
  font-size: var(--desc-lg);
  padding-top: 8.854vw;
}
.skill-contents .skill-wrapper .git .skill-text-box p:nth-child(3) {
  padding-bottom: 2.083vw;
  border-bottom: 1px solid #ddd;
}
.skill-contents .skill-wrapper .git .skill-text-box p:last-child {
  padding-top: 1.042vw;
}
.skill-contents .skill-wrapper li .skill-text-box {
  display: none;
  padding: 3.844vw 2.344vw;
  line-height: 2.5;
  font-size: var(--desc-sm);
}
/* 클릭 이벤트 */
.skill-contents .skill-wrapper li.show {
  height: 617px;
  z-index: 99;
  background-position: 50% 12%;
}
.skill-contents .skill-wrapper li.show .skill-text-box {
  display: block;
}
.skill-contents .skill-wrapper li .skill-text-box .skill-desc::before {
  content: "· ";
}

/***** project-contents *****/
.project-contents {
  background-color: var(--primary-black);
  color: #fff;
}
.project-contents .project-box {
  text-align: center;
  padding: 1.719vw 0 3.073vw;
}
.project-contents .project-wrapper {
  display: flex;
  width: 300vw;
}
.project-contents .project-wrapper .project1 {}
.project-contents .project-wrapper .project2 {}
.project-contents .project-wrapper .project3 {}
.project-contents .project-wrapper li {
  position: relative;
  /* width: 100%; 
  height: 100vw; */
}
.project-contents .project-wrapper li img {
  width: 100%;
  border-radius: var(--primary-border-radius);
}
.project-contents .project-wrapper li .project-name {
  font-weight: var(--font-bold);
  font-size: var(--title-md);
  padding: 1.719vw 0;
}
.project-contents .project-wrapper li .project-desc {
  font-size: var(--desc-sm);
}
.project-contents .project-wrapper li .more-btn {
  display: block;
  width: 66px; height: 66px;
  border-radius: 50%;
  background: url(./images/next-icon.svg) no-repeat 50%, rgba(255, 255, 255, 0.7);
  text-indent: -9999px;
  position: absolute;
  bottom: 1.719vw; right: 0;
}
.project-contents .project-wrapper li .more-btn:hover {
  background: url(./images/next-icon.svg) no-repeat 50%, rgba(255, 255, 255, 1);
}

/***** history-contents *****/
.history-contents {
  background: url(./images/history-bg.png) no-repeat 50% / cover;
}
.history-contents .history-wrapper {
  padding-top: 15.833vw;
}
.history-contents .history-wrapper .history-box {
  padding-top: 5vw;
}
.history-contents .history-wrapper .history-box li {
  margin: 2.188vw 0;
}
.history-contents .history-wrapper .history-box li .date::before {
  content: "· ";
}
.history-contents .history-wrapper .history-box li .date {
  display: block;
  font-size: var(--desc-md);
  margin-bottom: 0.938vw;
}
.history-contents .history-wrapper .history-box li span {
  font-size: var(--desc-sm);
  padding-left: 1rem;
}
.history-contents .history-img-box .history-icon {
  position: absolute;
  right: 0;
}
.history-contents .history-img-box .history-text {
  position: absolute;
  bottom: -10px; right: 2.708vw;
}