@charset "utf-8";

/* 메인 타이틀 */
@keyframes tilted {
  0% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

/* 바운스 */
@keyframes bounce {
  from {
    transform: translate(-50%, 0) scale(1);
  }
  to {
    transform: translate(-50%, 10%) scale(1, 0.7);
  }
}

/* 스킬 텍스트 */
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}