@charset "utf-8";

/* main-title animation */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  100% {
      opacity: 1;
      transform: translateZ(0);
  }
}

/* 바운스 */
@keyframes bounce {
  from {
    transform: translate(-50%, 0) scale(1);
  }
  to {
    transform: translate(-50%, 10%) scale(1, 0.7);
  }
}

/* 스킬 텍스트 */
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}