@charset "utf-8";

/* 
  font-family: "Montserrat", sans-serif;
  font-family: "Indie Flower", cursive;
*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 변수 설정 */
:root {
  /* fonts */
  --primary-fonts: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  --coding-fonts: "Indie Flower", cursive;

  /* font size */
  /* 100px, 60px ,40px, 30px, 25px, 20px */
  --title-main: 5.208vw;
  --title-lg: 3.125vw;
  --title-md: 2.083vw;
  --m-title: 22px;
  --desc-lg: 1.563vw;
  --desc-md: 1.302vw;
  --m-desc-sm: 20px;
  --desc-sm: 1.042vw;
  --desc-sx: 14px;
  --code-font-sm: 12px;

  /* font weight */
  --font-extra-bold: 800;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-regular: 400;

  /* colors */
  --primary-black: #222225;
  --primary-red: #d1263d;
  --primary-green: #98c1c2;

  /* border-radius */
  --primary-border-radius: 30px;
}